@page "/"


<h1 class="header-pink">
    Das eigene Heim.
</h1>
<br />
<h1 class="subheader">
    “Nest” zum Zurückziehen und Entspannen.
</h1>
<br />
<p class="black-text-main">
    <img src="/Images/Haus_title.jpg" class="titleImage" />
    <br /><br />

    Wir unterstützen Sie mit Elan und langjähgriger Erfahrung, damit dieser Traum Realität wird. <br /><br />
    Ob es um den Verkauf oder die Vermietung Ihrer Liegenschaft geht <br /><br />
    oder ob Sie auf der Suche nach Ihrem Traumobjekt sind - wir sind immer für Sie da!<br /><br />


    Herzlichst, <br />
    Birgit Damberger-Strobl & Christian Strobl <br/>
</p>
